@import url("http://mcansh.github.io/yeezy-logo-font/assets/css/font.css");

.App {
  text-align: center;
}

.Kanye-Face {
  animation: Kanye-Face-spin infinite 15s linear;
  height: 40vmin;
  pointer-events: all;
  cursor: crosshair;
  /* float: left; */
}

.Resting-Kanye {
  height: 40vmin;
  pointer-events: all;
}

@keyframes Kanye-Face-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border {
  position:relative; 
  width:40vmin; 
  background:#fff; 
  padding:15px;
  color:#333;
  border:10px solid #3e0571;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .border:before {
  content:"";
  position:absolute; 
  bottom:-35px; 
  left:30px; 
  border-width:35px 35px 0 35px; 
  border-style:solid;
  border-color:  #3e0571 transparent; 
  display:block;
  }

  .border:after {
  content:"";
  position:absolute; 
  bottom:-20px; 
  left:45px; 
  border-width:20px 20px 0 20px;
  border-style:solid;
  border-color: #fff transparent; 
  display:block;
  }
